// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h2 {
  position: absolute;
  left: 14.25%;
  right: 7.49%;
  top: 11.83%;
  bottom: 76.34%;

  font-family: OROSKO Free;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 24px;
/* or 67% */

  letter-spacing: 0.15px;

  color: #000000;
}
